<html>
<head>
    <title>联系我们</title>
    <style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 1.2em;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>
</head>
<body>
    <h1>联系我们</h1>

     {% if form.errors %}
        <p style="color: red;">
            <!--Please correct the error{{ form.errors|pluralize }} below.-->
            请修正下列错误。
        </p>
    {% endif %}

    <form action="" method="post" novalidate>
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="提交">
    </form>
</body>
</html>
