<html>
<head>
    <title>联系我们</title>
</style>
</head>
<body>
    <h1>联系我们</h1>

     {% if form.errors %}
        <p style="color: red;">
            <!--Please correct the error{{ form.errors|pluralize }} below.-->
            请修正下列错误。
        </p>
    {% endif %}

    <form action="" method="post" novalidate>
        <div class="field">
            {{ form.subject.errors }}
            <lable for="id_subject">主题：</lable>
            {{ form.subject }}
        </div>
        <div class="field">
            {{ form.email.errors }}
            <label for="id_email">请填写你的邮箱地址：</label>
            {{ form.email }}
        </div>
        <div class="field">
            {{ form.message.errors }}
            <label for="id_message">信息：</label>
            {{ form.message }}
        </div>
        {% csrf_token %}
        <input type="submit" value="提交">
    </form>
</body>
</html>
